

    
    <footer
            class="text-center text-lg-start mt-5 "
            
            >

      <div class="container p-4 pb-0">
      
     
      
          
     
          
            <div class="d-flex  mx-5">
            <div class=" align-self-start mx-5">
             <h2>Events & Bootcamp</h2>
              <div class="p-2"> Web Developmet
                
              </div>

              <div class="p-2"> Mobile Developmet</div>
              <div class="p-2">UI Design</div>
              <div class="p-2">UI Search </div>
              <div class="p-2"> Presentation</div>
            </div>
          
  
            <div class="align-self-center  mx-5 mb-5">
              <h2>About Owlearn</h2>
               <div class="p-2"> Adminssion info</div>
 
               <div class="p-2"> Article</div>
               <div class="p-2">Group &Referral program</div>
               <div class="p-2">Careers </div>
               
             </div>
             <div class="align-self-end  mx-5 mb-5">
              <h2>Contact</h2>
               <div class="p-2"> nohaelnisr@gmail.com
                 
               </div>
 
               <div class="p-2"> 01094240402</div>
            
               <div class="p-2"> https://www.linkedin.com/in/noha-salah98/</div>
              

               
               <div class="p-2">
  
                <a
                   class=" mx-2"
                  
                   role="button"
                   ><i class="fab fa-facebook-f"></i
                  ></a>
    
          
                <a
                   
                   class=" mx-2"
                   role="button"
                   ><i class="fab fa-twitter"></i
                  ></a>
    
                <a
                   class="mx-2"
                   
                   role="button"
                   ><i class="fab fa-google"></i
                  ></a>
    
                <a
                   class="mx-2"
                   
                   role="button"
                   ><i class="fab fa-instagram"></i
                  ></a>
              </div>
             </div>
           
            </div>
          
            
  
           
           
           
          
        
       
        
  
       
        <section >
          <div class="row d-flex">
           
            <div class=" text-md-start " style="background-color: black; color: white; ">
             
              <div class="p-3 text-center">
                 Copyright© 2022 OwLearn. All Right Reserved
                
              </div>
        
            </div>
          
            
          </div>
        </section>
    
    
    

  