
  <nav class="navbar navbar-expand-lg navbar-light " style="  font-size:50px;">
    <div class="container-fluid">
      <a class="navbar-brand mx-2" href="#"style="font-size:50px"><img src="assets/owl.png" width="50px" height="50px">OwLearn</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto me-5 mb-lg-1">
          <li class="nav-item">
            <a class="nav-link active">Home</a>
          </li>
         
         
          <li class="nav-item">
            <a class="nav-link  ">Bootcamp</a>
          </li>
          

          <li class="nav-item">
            <a class="nav-link " >Events</a>
            
          </li>
       
          <li class="nav-item">
            <a class="nav-link " >Articles</a>
            
          </li>
          
          <li class="nav-item">
            <a class="nav-link " >Contact Us</a>
            
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-primary mx-2 mb-3 "style="border-color: pink;
      color:pink ;"mat-raised-button (click)="opendialog()">Contact Us</button>

          </li>
        </ul>
       
      </div>
      
    </div>
    
  </nav> 
    