<div class="d-flex ">
  <div class=" align-self-start mx-5">
   
   <div class="p-2">
    <p class="h1 mt-5" style="font-style:inherit; font-weight: bold;">Learn Any Skills<br>
       To Advance Your <br>
      
       Career path</p>
       <p class="h6 mt-3">Want to improve your work skills?
      
        You need to study<br> harder   with the help of a great mentor to improve
        <br>
         your performance at work
       </p>
       <button type="button"  class="btn  mt-3"style="border-color: pink ;
       color:white ;background-color:pink ;">Explore path</button>
   </div>
  </div>


   <div class="align-self-end  mb-5 ms-auto me-1">
    <img class="p-2" src="assets/Online-Learn.png">

    
         
       
       
    </div>
   </div>
   <div class="d-flex bd-highlight mx-5 ">
    <h3 class="mx-5 mb-3">We Partner with More <br>Than 10+ Companies </h3>

    <div class="p-2 flex-fill "><img  src="assets/Skillshare.jpg " width="150px" ></div>
    <div class="p-2 flex-fill "><img  src="assets/udemy.png" width="150px" ></div>
    <div class="p-2 flex-fill "><img  src="assets/G.jpg " width="30px"></div>
    <div class="p-2 flex-fill "><img  src="assets/coursera.png " width="50px" ></div>
    <div class="p-2 flex-fill "><img  src="assets/interaction.png " width="150px" ></div>


  </div>
     
  <div class="d-flex ">
    <div class="align-self-end  mb-5  me-1">
      <img class="p-2 mx-5" src="assets/eductional.jpg" width="550px">
  
      
           
         
         
      </div>
    <div class="  mx-5 ms-auto" >
     
     <div class="p-2">
      <p class="h1 mt-5" style="font-style:inherit; font-weight: bold;">Learn Any Skills<br>
         To Advance Your <br>
        
         Career path</p>
         <p class="h6 mt-3">Want to improve your work skills?
        
          You need to study<br> harder   with the help of a great mentor to improve
          <br>
           your performance at work
         </p>
         <button type="button" class="btn  mt-3"style="border-color: pink ;
         color:white ;background-color:pink ;">Become a Member</button>
     </div>
    </div>
  
  
    
     </div>  
   
  

  