<h3 class=" mt-5 mx-5" style="font-size: 30px;text-align: center;">Our graduates have worked in </h3>

<div class="d-flex flex-row bd-highlight mx-5 mt-5  justify-content-center ">
  
    <div class="p-2  "><img  src="assets/clickup.png" width="150px" ></div>
    <div class="p-2  "><img  src="assets/dropbox.png" width="150px" ></div>
    <div class="p-2  "><img  src="assets/elatic.png" width="150px" ></div>
    <div class="p-2  "><img  src="assets/git.png" width="150px" ></div>
    <div class="p-2  "><img  src="assets/fresh.png" width="150px" ></div>
     
</div>
<div class="d-flex  justify-content-center flex-row bd-highlight mx-5 mt-5 ">

     <div class="p-2  "><img  src="assets/helo.png" width="150px" ></div>
  <div class="p-2 "><img  src="assets/hub.jpg" width="150px" ></div>
  <div class="p-2  "><img  src="assets/intuout.png" width="150px" ></div>
  <div class="p-2 "><img  src="assets/google.png" width="150px" ></div>
  <div class="p-2  "><img  src="assets/pay.png" width="150px" ></div>
</div>   
  
<div class="d-flex flex-row bd-highlight mx-5 mt-5  justify-content-center">

    <div class="p-2  "><img  src="assets/sels.png" width="150px" ></div>
  <div class="p-2  "><img  src="assets/sap.jpg" width="150px" ></div>
  <div class="p-2  "><img  src="assets/segment.png" width="150px" ></div>
  <div class="p-2  "><img  src="assets/servinow.png" width="150px" ></div>
  <div class="p-2  "><img  src="assets/shop.png" width="150px" ></div>
   </div>

   <div class="d-flex ">
    <div class="align-self-end  mb-5  me-1">
      <img class="p-2 mx-5 mt-5" src="assets/man.jpg" width="550px">
  
      
           
         
         
      </div>
    <div class="  mx-5 ms-auto mt-5" >
     
     <div class="p-2">
      <p class="h1 mt-5" style="font-style:inherit; font-weight: bold;">what did they say<br>
        
         Career path</p>
         <p class="h6 mt-3">Want to improve your work skills?
        
          You need to study<br> harder   with the help of a great mentor to improve
          <br>
           your performance at work
         </p>
         
     </div>
    </div>
  
  
    
     </div>  
   
  




